/* -----------------------
[Wedding Stylesheet]

Template Name: Wedding Awesone - Wedding Template
Template Author: Rona

*/

.r-font-parisienne{
  font-family: 'Parisienne', cursive;
}
.r-font-brittany{
font-family: 'Brittany Signature', sans-serif;
}

.r-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.r-index-3 {
  position: relative;
  z-index: 1;
}
.r-to-id {
  scroll-margin-top: 60px;
}

.r-to-top {
  scroll-margin-block-start: 60px;
}

.r-bg-overlay{
  background-blend-mode:hard-light;
}

.r-bg-right{
    background-size: contain;
    background-position: right;
}

.r-h6{
  font-size: 1.16rem;
  line-height: 1.9;
}